{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
    {% for post in posts %}
        <div class="post">
            <h1>{{ post.title }}</h1>
            <figure>
                <img src="{{ post.image }}" alt="">
            </figure>
            <p><strong>Descripción: </strong>{{ post.description }}</p>
            <p><strong>Creado por: </strong>{{ post.user }}</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}

{% block title %} {{ block.super }} Posts {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

