{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
{% include 'snippets/navbar.html' %}

<div class="container">
    <h2 class="mb-4">{{ name }} se encuentra terminando esta página web</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post, time_diff in zipped %}
            <div class="col">
                <div class="card h-100">
                    <img src="{% get_media_prefix %}{{ post.photo }}" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <!-- <small class="text-muted">{{ time_diff }}</small> -->
                        <!-- <small class="text-muted">{{ post.get_time_diff }}</small> -->
                        <small class="text-muted">Last updated {{ post.updated|timesince:now }}</small>
                        <br/>
                        <a href="{% url 'posts:post_detail' post.id %}">View Post</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>


{% endblock %}


{% for post in posts %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        <figure>
            <img src="{% get_media_prefix %}{{ post.photo }}" alt="">
        </figure>
        <p><strong>Descripción: </strong>{{ post.description }}</p>
        <p><strong>Creado por: </strong>{{ post.user }}</p>
    </div>
    <br>
{% endfor %}



{% block title %} {{ block.super }} Posts {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

